<div
  class="container flex flex-col items-center justify-center mx-auto h-[85vh] sm:h-[100vh] w-[100%] lg:w-[90%] xl:w-[75%] pt-14 sm:pt-8 mb-[10px] px-[10px] sm:px-0"
>
  <!-- <p
    class="text-[#fff] bg-[#1E3B8A] text-[14px] sm:text-[16px] w-max py-2 px-6 sm:px-10 rounded-full mb-5"
  >
    Partnership Programs
  </p> -->
  <h1
    class="text-[#1E3B8A] text-[26px] min-[474px]:text-[29px] min-[527px]:text-[32px] min-[578px]:text-[36px] sm:text-[40px] md:text-[48px] lg:text-[60px] font-[700] text-center leading-[1.3] mb-1"
  >
    The smartest companies don't take risks — they see them coming
  </h1>
  <p
    class="text-[#1E3B8A] text-[20px] sm:text-[24px] md:text-[26px] lg:text-[30px] text-center mb-2"
  >
    Emdad turns uncertainty into strategic power.
  </p>
  <p
    class="text-[#586881] text-[17px] sm:text-[20px] md:text-[22px] lg:text-[24px] text-center mb-7"
  >
    A solution for companies that can't afford to guess.
  </p>
  <div class="flex items-center gap-4 flex-wrap justify-center">
    <button
      class="bg-[#1E3B8A] text-[#fff] text-[16px] sm:text-[20px] px-[30px] py-[6px] rounded-md flex items-center justify-center gap-2 w-[191px]"
    >
      <span>Register</span>
      <i class="fa-solid fa-arrow-right text-[15px] pt-1"></i>
    </button>
    <button
      class="bg-[#fff] border border-[#c7cee2] text-[#1E3B8A] font-[600] text-[16px] sm:text-[20px] px-[30px] py-[6px] rounded-md flex items-center justify-center gap-2 w-[191px]"
    >
      <i class="fa-solid fa-play text-[15px]"></i>
      <span>Watch Demo</span>
    </button>
  </div>
</div>
