<div class="bg-[#fbfbfc] border-t border-[#c7cee2]">
  <div class="container mx-auto px-3 py-16">
    <div
      class="flex flex-col md:flex-row justify-start md:justify-between items-start gap-4"
    >
      <div class="w-[90%] md:w-[30%]">
        <img
          src="./../../../assets/logo.svg"
          alt="Logo"
          class="w-[130px] h-auto mb-5"
        />
        <a href="/#" class="flex gap-4 items-start mb-5">
          <img
            src="../../../assets/Group-3.png"
            alt="location"
            class="w-[18px] h-auto pt-1"
          />
          <span class="text-[#586881] text-[16px]"
            >Northern Ring Road. Al Nakheel <br />
            Dist. Riyadh, Saudi Arabia</span
          >
        </a>
        <p class="text-[#586881] text-[16px] mb-1">Emdad Data Company</p>
        <p class="text-[#586881] text-[16px] mb-1">CR 1009050903</p>
        <p class="text-[#586881] text-[16px] mb-1">VAT 312340075200003</p>
      </div>
      <div class="w-[90%] md:w-[25%]">
        <h5 class="text-[#092e58] text-[22px] font-[600] mb-4">Company</h5>
        <ul>
          <li class="text-[#586881] text-[18px] mb-2">About</li>
          <li class="text-[#586881] text-[18px] mb-2">Board & Management</li>
          <li class="text-[#586881] text-[18px] mb-2">Partnership</li>
          <li class="text-[#586881] text-[18px] mb-2">Careers</li>
        </ul>
      </div>
      <div class="w-[90%] md:w-[20%]">
        <h5 class="text-[#092e58] text-[22px] font-[600] mb-4">Product</h5>
        <ul>
          <li class="text-[#586881] text-[18px] mb-2">Features</li>
          <li class="text-[#586881] text-[18px] mb-2">Pricing</li>
          <li class="text-[#586881] text-[18px] mb-2">Security</li>
          <li class="text-[#586881] text-[18px] mb-2">Case Studies</li>
        </ul>
      </div>
      <div class="w-[90%] md:w-[25%]">
        <h5 class="text-[#092e58] text-[22px] font-[600] mb-4">Follow Us</h5>
        <div class="flex gap-4 text-[20px] text-[#586881] mb-5">
          <i class="fa-brands fa-linkedin-in"></i>
          <i class="fa-brands fa-x-twitter"></i>
        </div>
        <p class="text-[#586881] flex gap-2 items-start">
          <i class="fa-regular fa-copyright pt-2"></i>
          <span class="text-[16px]"
            >2025 Emdad Data Company. All rights reserved.</span
          >
        </p>
      </div>
    </div>
    <hr class="my-8 bg-[#c7cee2] h-[1px]" />
  </div>
</div>
