<div class="bg-[#fff] pt-10 pb-8">
  <div class="container mx-auto px-3">
    <div
      class="flex flex-col justify-center lg:flex-row lg:justify-between items-center gap-6 lg:gap-8 mb-6 lg:mb-8"
    >
      <div class="w-[95%] lg:w-[50%]">
        <h3
          class="text-[#1E3B8A] text-[26px] sm:text-[35px] lg:text-[40px] xl:text-[48px] xl:pr-6 font-[700] leading-[1.1] mb-7 xl:w-[95%]"
        >
          At Emdad security & privacy are our top priorities. We are committed
          to building trust & safeguarding customer data by implementing
          industry leading practices.
        </h3>
      </div>

      <div class="w-[95%] lg:w-[50%]">
        <div
          class="flex flex-col sm:flex-row justify-start sm:justify-between items-center gap-4 mb-4"
        >
          <div
            class="w-[95%] sm:w-[50%] h-auto sm:h-[250px] lg:h-[320px] border border-[#c7cee2] rounded-lg py-4 px-3 shadow-[0_0px_12px_-5px_#1e3b8a]"
          >
            <div class="flex justify-between items-center mb-2">
              <span class="text-[#1E3B8A] text-[18px] lg:text-[20px] font-[700]"
                >01</span
              >
              <i
                class="fa-solid fa-shield text-[#1E3B8A] text-[18px] lg:text-[20px] font-[700]"
              ></i>
            </div>
            <h4
              class="text-[#fff] bg-[#1E3B8A] p-2 rounded-md text-[16px] lg:text-[18px] font-[700]"
            >
              SOC 2 Type II
            </h4>
            <p class="text-[#586881] text-[16px] mb-4 leading-[1.3]">
              Emdad platform has been evaluated by a third-party security
              auditor and is SOC 2 Type II compliant.
            </p>
          </div>
          <div
            class="w-[95%] sm:w-[50%] h-auto sm:h-[250px] lg:h-[320px] border border-[#c7cee2] rounded-lg py-4 px-3 shadow-[0_0px_12px_-5px_#1e3b8a]"
          >
            <div class="flex justify-between items-center mb-2">
              <span class="text-[#1E3B8A] text-[18px] lg:text-[20px] font-[700]"
                >02</span
              >
              <i
                class="fa-solid fa-lock text-[#1E3B8A] text-[18px] lg:text-[20px] font-[700]"
              ></i>
            </div>
            <h4
              class="text-[#fff] bg-[#1E3B8A] p-2 rounded-md text-[16px] lg:text-[18px] font-[700]"
            >
              Cyber Security
            </h4>
            <p class="text-[#586881] text-[16px] mb-4 leading-[1.3]">
              Emdad platform has undergone a thorough evaluation by third-party
              cybersecurity professionals to ensure its security and integrity.
            </p>
          </div>
        </div>
        <div
          class="flex flex-col sm:flex-row justify-start sm:justify-between items-center gap-4 mb-4"
        >
          <div
            class="w-[95%] sm:w-[50%] h-auto sm:h-[250px] lg:h-[320px] border border-[#c7cee2] rounded-lg py-4 px-3 shadow-[0_0px_12px_-5px_#1e3b8a]"
          >
            <div class="flex justify-between items-center mb-2">
              <span class="text-[#1E3B8A] text-[18px] lg:text-[20px] font-[700]"
                >03</span
              >
              <i
                class="fa-solid fa-eye text-[#1E3B8A] text-[18px] lg:text-[20px] font-[700]"
              ></i>
            </div>
            <h4
              class="text-[#fff] bg-[#1E3B8A] p-2 rounded-md text-[16px] lg:text-[18px] font-[700]"
            >
              Consent based Information
            </h4>
            <p class="text-[#586881] text-[16px] mb-4 leading-[1.3]">
              Emdad platform ensures that information is shared only when you or
              your counterpart within the ecosystem has provided explicit
              consent, always maintaining data privacy and control.
            </p>
          </div>
          <div
            class="w-[95%] sm:w-[50%] h-auto sm:h-[250px] lg:h-[320px] border border-[#c7cee2] rounded-lg py-4 px-3 shadow-[0_0px_12px_-5px_#1e3b8a]"
          >
            <div class="flex justify-between items-center mb-2">
              <span class="text-[#1E3B8A] text-[18px] lg:text-[20px] font-[700]"
                >04</span
              >
              <i
                class="fa-solid fa-file text-[#1E3B8A] text-[18px] lg:text-[20px] font-[700]"
              ></i>
            </div>
            <h4
              class="text-[#fff] bg-[#1E3B8A] p-2 rounded-md text-[16px] lg:text-[18px] font-[700]"
            >
              Complete Data Trail
            </h4>
            <p class="text-[#586881] text-[16px] mb-4 leading-[1.3]">
              Emdad platform meticulously tracks every data trail to ensure
              strict confidentiality, preventing breaches. It also records user
              identities, maintaining transparency and security at all levels.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="h-6"></div>
