<div class="bg-[#fff] pt-10 pb-8">
  <div class="container mx-auto px-3">
    <div *ngFor="let group of panelGroups">
      <h3
        class="text-[#1E3B8A] text-[20px] lg:text-[22px] font-[700] leading-[1.3] mb-3"
      >
        {{ group.title }}
      </h3>

      <nz-collapse nzExpandIconPosition="end">
        <nz-collapse-panel
          *ngFor="let panel of group.panels; let i = index; trackBy: trackPanel"
          [(nzActive)]="panel.active"
          [nzDisabled]="panel.disabled"
          [nzHeader]="panel.name"
        >
          <ng-template>
            <div class="!text-[#1E3B8A] font-[700] text-lg">
              {{ panel.name }}
            </div>
          </ng-template>
          <div
            class="text-[#586881] text-[14px] sm:text-[16px] font-[600] leading-relaxed"
          >
            {{ panel.content }}
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    </div>

    <ng-template #expandIconTpl let-isActive>
      <i
        nz-icon
        nzType="down"
        [class.rotate-180]="isActive"
        style="color: #1e3b8a"
      ></i>
    </ng-template>

    <ng-template #expandIconTpl let-isActive>
      <i nz-icon nzType="down" [class.rotate-180]="isActive"></i>
    </ng-template>
  </div>
</div>
