<div class="bg-[#f5fbfe] pt-10 pb-8">
  <div class="container mx-auto px-3">
    <h2
      class="text-[#1E3B8A] text-[21px] leading-[1.2] min-[310px]:text-[24px] sm:text-[28px] md:text-[32px] lg:text-[38px] font-[700] text-center mb-2"
    >
      Emdad’s Subscription Plans
    </h2>
    <p
      class="text-[#586881] text-[16px] md:text-[18px] lg:text-[20px] text-center mx-auto mb-8"
    >
      Choose the subscription tier that fits your business needs.
    </p>

    <div
      class="flex flex-row justify-center flex-wrap items-center gap-4 md:gap-6 mb-4 md:mb-6"
    >
      <div
        class="w-[296px] h-[345px] lg:h-[375px] bg-[#FFFFFF] rounded-lg border border-[#c7cee2] shadow-[0_0px_12px_-5px_#1e3b8a] py-8 px-4"
      >
        <h3
          class="text-[#1E3B8A] text-[20px] lg:text-[22px] font-[700] leading-[1.3] mb-1 text-center"
        >
          Pre-teir
        </h3>
        <p class="text-[#586881] text-[14px] lg:text-[16px] text-center mb-1">
          pay as you go
        </p>
        <p class="text-center mb-1">
          <span
            class="text-[25px] lg:text-[35px] font-[700] text-[#1E3B8A] mr-1"
            >0</span
          >
          <span class="text-[#586881] text-[14px] lg:text-[16px]"
            >SR/month</span
          >
        </p>
        <p class="text-[#586881] text-[14px] lg:text-[16px] text-center mb-3">
          SR 360 / Request
        </p>
        <ul>
          <li class="flex justify-start items-center gap-2 mb-1">
            <img
              src="../../../assets/material-symbols_check-rounded.png"
              alt="Plans"
              class="w-[25px] h-auto"
            />
            <span class="text-[#1E3B8A] text-[14px] lg:text-[16px]"
              >0 request per month</span
            >
          </li>
          <li class="flex justify-start items-center gap-2 mb-5">
            <img
              src="../../../assets/material-symbols_check-rounded.png"
              alt="Plans"
              class="w-[25px] h-auto"
            />
            <span class="text-[#1E3B8A] text-[14px] lg:text-[16px]"
              >AI Decisioning Manager</span
            >
          </li>
        </ul>
        <button
          class="text-[#1E3B8A] text-[18px] border border-[#c7cee2] rounded-[5px] w-full py-2 font-[700]"
        >
          Subscribe Now
        </button>
      </div>
      <div
        class="w-[296px] h-[345px] lg:h-[375px] bg-[#FFFFFF] rounded-lg border border-[#c7cee2] shadow-[0_0px_12px_-5px_#1e3b8a] py-8 px-4"
      >
        <h3
          class="text-[#1E3B8A] text-[20px] lg:text-[22px] font-[700] leading-[1.3] mb-1 text-center"
        >
          Teir 1 Subscription
        </h3>
        <p class="text-[#586881] text-[14px] lg:text-[16px] text-center mb-1">
          Basic subscription
        </p>
        <p class="text-center mb-1">
          <span
            class="text-[25px] lg:text-[35px] font-[700] text-[#1E3B8A] mr-1"
            >699</span
          >
          <span class="text-[#586881] text-[14px] lg:text-[16px]"
            >SR/month</span
          >
        </p>
        <p class="text-[#586881] text-[14px] lg:text-[16px] text-center mb-1">
          Semi-annual or Annual
        </p>
        <p class="text-[#586881] text-[14px] lg:text-[16px] text-center">
          SR 299 / Additional request
        </p>
        <ul>
          <li class="flex justify-start items-center gap-2 mb-1">
            <img
              src="../../../assets/material-symbols_check-rounded.png"
              alt="Plans"
              class="w-[25px] h-auto"
            />
            <span class="text-[#1E3B8A] text-[14px] lg:text-[16px]"
              >2 request per month</span
            >
          </li>
          <li class="flex justify-start items-center gap-2 mb-5">
            <img
              src="../../../assets/material-symbols_check-rounded.png"
              alt="Plans"
              class="w-[25px] h-auto"
            />
            <span class="text-[#1E3B8A] text-[14px] lg:text-[16px]"
              >AI Decisioning Manager</span
            >
          </li>
        </ul>
        <button
          class="text-[#1E3B8A] text-[18px] border border-[#c7cee2] rounded-[5px] w-full py-2 font-[700]"
        >
          Subscribe Now
        </button>
      </div>
      <div
        class="w-[296px] h-[345px] lg:h-[375px] bg-[#FFFFFF] rounded-lg border border-[#c7cee2] shadow-[0_0px_12px_-5px_#1e3b8a] py-8 px-4"
      >
        <h3
          class="text-[#1E3B8A] text-[20px] lg:text-[22px] font-[700] leading-[1.3] mb-1 text-center"
        >
          Teir 2 Subscription
        </h3>
        <p class="text-[#586881] text-[13px] lg:text-[14px] text-center mb-1">
          Most popular plan for growing businesses
        </p>
        <p class="text-center mb-1">
          <span
            class="text-[25px] lg:text-[35px] font-[700] text-[#1E3B8A] mr-1"
            >1,899</span
          >
          <span class="text-[#586881] text-[14px] lg:text-[16px]"
            >SR/month</span
          >
        </p>
        <p class="text-[#586881] text-[14px] lg:text-[16px] text-center mb-1">
          Semi-annual or Annual
        </p>
        <p class="text-[#586881] text-[14px] lg:text-[16px] text-center">
          SR 249 / Additional request
        </p>
        <ul>
          <li class="flex justify-start items-center gap-2 mb-1">
            <img
              src="../../../assets/material-symbols_check-rounded.png"
              alt="Plans"
              class="w-[25px] h-auto"
            />
            <span class="text-[#1E3B8A] text-[14px] lg:text-[16px]"
              >7 request per month</span
            >
          </li>
          <li class="flex justify-start items-center gap-2 mb-5">
            <img
              src="../../../assets/material-symbols_check-rounded.png"
              alt="Plans"
              class="w-[25px] h-auto"
            />
            <span class="text-[#1E3B8A] text-[14px] lg:text-[16px]"
              >AI Decisioning Manager</span
            >
          </li>
        </ul>
        <button
          class="text-[#1E3B8A] text-[18px] border border-[#c7cee2] rounded-[5px] w-full py-2 font-[700]"
        >
          Subscribe Now
        </button>
      </div>
      <div
        class="w-[296px] h-[345px] lg:h-[375px] bg-[#FFFFFF] rounded-lg border border-[#c7cee2] shadow-[0_0px_12px_-5px_#1e3b8a] py-8 px-4"
      >
        <h3
          class="text-[#1E3B8A] text-[20px] lg:text-[22px] font-[700] leading-[1.3] mb-1 text-center"
        >
          Teir 3 Subscription
        </h3>
        <p class="text-[#586881] text-[13px] lg:text-[14px] text-center mb-1">
          Most popular plan for growing businesses
        </p>
        <p class="text-center mb-1">
          <span
            class="text-[25px] lg:text-[35px] font-[700] text-[#1E3B8A] mr-1"
            >1,3,599</span
          >
          <span class="text-[#586881] text-[14px] lg:text-[16px]"
            >SR/month</span
          >
        </p>
        <p class="text-[#586881] text-[14px] lg:text-[16px] text-center mb-1">
          Semi-annual or Annual
        </p>
        <p class="text-[#586881] text-[14px] lg:text-[16px] text-center">
          SR 220 / Additional request
        </p>
        <ul>
          <li class="flex justify-start items-center gap-2 mb-1">
            <img
              src="../../../assets/material-symbols_check-rounded.png"
              alt="Plans"
              class="w-[25px] h-auto"
            />
            <span class="text-[#1E3B8A] text-[14px] lg:text-[16px]"
              >15 request per month</span
            >
          </li>
          <li class="flex justify-start items-center gap-2 mb-5">
            <img
              src="../../../assets/material-symbols_check-rounded.png"
              alt="Plans"
              class="w-[25px] h-auto"
            />
            <span class="text-[#1E3B8A] text-[14px] lg:text-[16px]"
              >AI Decisioning Manager</span
            >
          </li>
        </ul>
        <button
          class="text-[#1E3B8A] text-[18px] border border-[#c7cee2] rounded-[5px] w-full py-2 font-[700]"
        >
          Subscribe Now
        </button>
      </div>
    </div>
  </div>
</div>
