<div class="container mx-auto px-3 pt-10 pb-8">
  <div
    class="w-full h-80 bg-[url('/assets/Group.png')] bg-cover bg-center rounded-lg flex flex-col justify-center items-center p-4"
  >
    <h3
      class="text-[#fff] text-[24px] sm:text-[36px] lg:text-[42px] lg:w-[50%] mx-auto text-center font-[700] leading-[1.2] mb-2"
    >
      All in one streamlined collaboration
    </h3>
    <p class="text-[#CBCBCB] text-[17px] mb-5 lg:w-[38%] mx-auto text-center">
      Our experts will tailor the demo to your organization's specific needs and
      unique challenges.
    </p>
    <button
      class="text-[#1E3B8A] bg-[#fff] py-[8px] px-10 text-[16px] font-[700] w-max rounded-md"
    >
      Submit Application
    </button>
  </div>
</div>
