<div class="bg-[#fff] pt-10 pb-8">
  <div class="container mx-auto px-3">
    <div
      class="flex flex-col justify-center lg:flex-row lg:justify-between items-center gap-6 lg:gap-8 mb-6 lg:mb-8"
    >
      <div class="w-[95%] lg:w-[50%]">
        <h2 class="text-[#1E3B8A] mb-4 flex items-center gap-2 sm:gap-4">
          <div
            class="w-11 h-11 sm:w-14 sm:h-14 rounded-full bg-[#1E3B8A] flex items-center justify-center"
          >
            <div
              class="w-4 h-4 sm:w-6 sm:h-6 bg-white rotate-[15deg] rounded-[3px]"
            ></div>
          </div>

          <span
            class="bg-[#f5fbfe] py-2 px-6 sm:px-8 rounded-full text-[22px] min-[310px]:!text-[24px] sm:text-[28px] md:text-[32px] lg:text-[32px] xl:text-[38px] font-[700]"
            >Who We Are</span
          >
        </h2>

        <h3
          class="text-[#1E3B8A] text-[26px] sm:text-[35px] lg:text-[40px] xl:text-[50px] xl:pr-6 font-[700] leading-[1.1] mb-3"
        >
          Emdad is an Ecosystem Supply Chain authentication platform powered by
          data analytics
        </h3>

        <p class="text-[#586881] text-[17px] md:text-[19px] xl:pr-6">
          Designed to influence market behaviour, enhance decision-making, and
          drive improvements based on relevant, impactful data.
        </p>
      </div>
      <div class="w-[95%] lg:w-[50%] px-6 py-6 bg-[#f5fbfe] rounded-lg">
        <h3
          class="text-[#1E3B8A] text-[20px] sm:text-[26px] font-[700] leading-[1.3] mb-5"
        >
          What we aim to do
        </h3>

        <h4
          class="text-[#1E3B8A] text-[19px] lg:text-[22px] font-[700] leading-[1.3] mb-3 flex items-start gap-2"
        >
          <i class="fa-solid fa-gear pt-1"></i>
          <span>AI-Powered Data Analysis & Automated Reports</span>
        </h4>

        <ul class="list-disc ps-6 sm:ps-14 marker:text-[#1E3B8A]">
          <li class="text-[#586881] text-[15px] lg:text-[16px] mb-3">
            Emdad generates comprehensive data analysis, providing detailed
            financial health summary of a company to help you make informed
            decisions.
          </li>
          <li class="text-[#586881] text-[15px] lg:text-[16px] mb-3">
            Eliminate the hassle of manual processing—Emdad delivers the
            financial data that matters with speed and precision.
          </li>
        </ul>

        <h4
          class="text-[#1E3B8A] text-[19px] lg:text-[22px] font-[700] leading-[1.3] mb-3 flex items-start gap-2"
        >
          <nz-icon
            nzType="bar-chart"
            nzTheme="outline"
            class="pt-1 text-[25px]"
          />
          <span>End-to-end Financial Metrics</span>
        </h4>

        <ul class="list-disc ps-6 sm:ps-14 marker:text-[#1E3B8A]">
          <li class="text-[#586881] text-[15px] lg:text-[16px] mb-3">
            With Emdad, eliminate slow manual processes—your financial
            statements are processed with maximum precision.
          </li>
          <li class="text-[#586881] text-[15px] lg:text-[16px] mb-3">
            Get clear insights and analytics on your company's performance.
          </li>
          <li class="text-[#586881] text-[15px] lg:text-[16px] mb-3">
            Access data on other companies in the ecosystem via consent for
            better decision-making.
          </li>
        </ul>

        <h4
          class="text-[#1E3B8A] text-[19px] lg:text-[22px] font-[700] leading-[1.3] mb-3 flex items-start gap-2"
        >
          <i class="fa-solid fa-shield pt-1"></i>
          <span>Key Data Validation and Authentication</span>
        </h4>

        <ul class="list-disc ps-6 sm:ps-14 marker:text-[#1E3B8A]">
          <li class="text-[#586881] text-[15px] lg:text-[16px] mb-3">
            With Emdad, all data points are validated and authenticated through
            integration with governmental portals, providing you with accurate
            information while minimizing legal and contractual risks.
          </li>
          <li class="text-[#586881] text-[15px] lg:text-[16px]">
            Emdad's integration with relevant governmental portals gives you
            instant access to the right information—whether it's authorized
            persons, CR numbers, or business commencement dates—all at the click
            of a button.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="h-6"></div>
