<div class="bg-[#fff] pt-10 pb-8">
  <div class="container mx-auto px-3">
    <div
      class="flex flex-col justify-center lg:flex-row lg:justify-between items-center gap-6 lg:gap-8 mb-6 lg:mb-8"
    >
      <div class="w-[95%] lg:w-[50%]">
        <h2 class="text-[#1E3B8A] mb-4 flex items-center gap-2 sm:gap-4">
          <div
            class="w-11 h-11 sm:w-14 sm:h-14 rounded-full bg-[#1E3B8A] flex items-center justify-center"
          >
            <i
              class="fa-solid fa-arrow-right text-[#fff] text-[18px] sm:text-[22px]"
            ></i>
            <!-- <div
              class="w-4 h-4 sm:w-6 sm:h-6 bg-white rotate-[15deg] rounded-[3px]"
            ></div> -->
          </div>

          <span
            class="bg-[#f5fbfe] py-2 px-6 sm:px-8 rounded-full text-[22px] min-[310px]:!text-[24px] sm:text-[28px] md:text-[32px] lg:text-[32px] xl:text-[38px] font-[700]"
            >The Solution</span
          >
        </h2>

        <h3
          class="text-[#1E3B8A] text-[26px] sm:text-[35px] lg:text-[40px] xl:text-[50px] xl:pr-6 font-[700] leading-[1.1] mb-3 xl:w-[90%]"
        >
          Emdad makes data a story worth telling.
        </h3>

        <h4
          class="text-[#1E3B8A] text-[19px] lg:text-[26px] font-[700] leading-[1.3] tracking-[0.75px] mb-3 xl:w-[80%]"
        >
          While authenticating and connecting you to key players in your
          ecosystem.
        </h4>

        <p class="text-[#586881] text-[17px] md:text-[19px] xl:pr-6">
          <span class="text-[#1E3B8A] font-[700]"
            >..NO more relying on checklists</span
          >—know exactly who you're dealing with before entering a contract,
          ensuring
          <span class="text-[#1E3B8A] font-[700]"
            >authenticated suppliers and contractors.</span
          >
        </p>
      </div>
      <div class="w-[95%] lg:w-[50%] px-6 py-6 bg-[#f5fbfe] rounded-lg">
        <h3
          class="text-[#1E3B8A] text-[20px] sm:text-[26px] font-[700] leading-[1.3] mb-5"
        >
          Our solutions
        </h3>

        <ul>
          <li
            class="text-[#586881] text-[15px] lg:text-[16px] mb-3 border border-[#c7cee2] rounded-md px-3 py-2"
          >
            Delivers Accurate, Meaningful Data
          </li>
          <li
            class="text-[#586881] text-[15px] lg:text-[16px] mb-3 border border-[#c7cee2] rounded-md px-3 py-2"
          >
            Evidence-based decision making
          </li>
          <li
            class="text-[#586881] text-[15px] lg:text-[16px] mb-3 border border-[#c7cee2] rounded-md px-3 py-2"
          >
            Provides Transparency
          </li>
          <li
            class="text-[#586881] text-[15px] lg:text-[16px] mb-3 border border-[#c7cee2] rounded-md px-3 py-2"
          >
            Reduces Frauds and Legal Issues
          </li>
          <li
            class="text-[#586881] text-[15px] lg:text-[16px] mb-3 border border-[#c7cee2] rounded-md px-3 py-2"
          >
            Saves Time, Money and Resources
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="h-6"></div>
