<app-smart></app-smart>
<app-video></app-video>
<app-ecosystem></app-ecosystem>
<app-solution></app-solution>
<app-funnel></app-funnel>
<app-support></app-support>
<app-privacy></app-privacy>
<!-- <app-partner></app-partner> -->
<!-- <app-opportunities></app-opportunities> -->
<!-- <app-products></app-products> -->
<!-- <app-get-started></app-get-started> -->
<app-plans></app-plans>
<!-- <app-questions></app-questions> -->
<!-- <app-application></app-application> -->
<!-- <app-touch></app-touch> -->
<app-decision></app-decision>
