<div class="bg-[#F5FBFE] pt-10 pb-8">
  <div class="container mx-auto px-3">
    <h2
      class="text-[#1E3B8A] text-[21px] leading-[1.2] min-[310px]:text-[24px] sm:text-[28px] md:text-[32px] lg:text-[38px] font-[700] text-center mb-2"
    >
      Partnership Opportunities
    </h2>
    <p
      class="text-[#586881] text-[16px] md:text-[18px] lg:text-[20px] text-center mb-8"
    >
      Choose the partnership model that aligns with your business goals and
      expertise
    </p>
    <div
      class="flex flex-col justify-center md:flex-row md:justify-between items-center gap-6 md:gap-8 mb-4 md:mb-6"
    >
      <div
        class="w-[90%] h-[340px] md:w-[50%] flex-col pt-7 pb-3 px-5 sm:px-6 bg-[#FFFFFF] rounded-lg"
      >
        <div class="bg-[#eaf2fd] rounded-lg w-max p-4 mb-4">
          <img
            src="../../../assets/streamline_web.png"
            alt="Integration Partners"
            class="w-[35px] h-auto"
          />
        </div>
        <h3
          class="text-[#1E3B8A] text-[19px] lg:text-[22px] font-[700] leading-[1.3] mb-3"
        >
          Integration Partners
        </h3>
        <p class="text-[#586881] text-[15px] lg:text-[18px]">
          Build seamless integrations with our robust API platform
        </p>
        <ul class="list-disc list-inside">
          <li
            class="text-[#586881] text-[14px] min-[306]:text-[15px] sm:text-[16px] mb-1"
          >
            Technical documentation
          </li>
          <li
            class="text-[#586881] text-[14px] min-[306]:text-[15px] sm:text-[16px] mb-1"
          >
            Co-marketing opportunities
          </li>
          <li
            class="text-[#586881] text-[14px] min-[306]:text-[15px] sm:text-[16px] mb-1"
          >
            Priority support
          </li>
        </ul>
      </div>
      <div
        class="w-[90%] h-[340px] md:w-[50%] flex-col pt-7 pb-3 px-5 sm:px-6 bg-[#FFFFFF] rounded-lg"
      >
        <div class="bg-[#ebffee] rounded-lg w-max p-4 mb-4">
          <img
            src="../../../assets/la_handshake.png"
            alt="Integration Partners"
            class="w-[35px] h-auto"
          />
        </div>
        <h3
          class="text-[#1E3B8A] text-[19px] lg:text-[22px] font-[700] leading-[1.3] mb-3"
        >
          Strategic Partners
        </h3>
        <p class="text-[#586881] text-[16px] lg:text-[18px]">
          Join forces for mutual growth and market expansion
        </p>
        <ul class="list-disc list-inside">
          <li
            class="text-[#586881] text-[14px] min-[306]:text-[15px] sm:text-[16px] mb-1"
          >
            Project base partnership
          </li>
          <li
            class="text-[#586881] text-[14px] min-[306]:text-[15px] sm:text-[16px] mb-1"
          >
            Revenue share partnership
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="h-6"></div>
