.active-link::after {
  width: 100% !important;
}
.active-link {
  color: #1e3b8a !important;
}
@media screen and (max-width: 767px) {
  .active-link {
    background-color: #1e3b8a !important;
    color: white !important;
  }
  .active-link span {
    margin-left: 10px;
    transition: all 0.5s;
  }
}
