<div class="bg-[#fff] pt-10 pb-8">
  <div class="container mx-auto px-3">
    <div
      class="flex flex-col justify-center lg:flex-row lg:justify-between items-center gap-6 lg:gap-8 mb-6 lg:mb-8"
    >
      <div class="w-[95%] lg:w-[50%]">
        <h2 class="text-[#1E3B8A] mb-4 flex items-center gap-2 sm:gap-4">
          <div
            class="w-11 h-11 sm:w-14 sm:h-14 rounded-full bg-[#1E3B8A] flex items-center justify-center"
          >
            <i
              class="fa-solid fa-arrow-right text-[#fff] text-[18px] sm:text-[22px]"
            ></i>
            <!-- <div
              class="w-4 h-4 sm:w-6 sm:h-6 bg-white rotate-[15deg] rounded-[3px]"
            ></div> -->
          </div>

          <span
            class="bg-[#f5fbfe] py-2 px-6 sm:px-8 rounded-full text-[22px] min-[310px]:!text-[24px] sm:text-[28px] md:text-[32px] lg:text-[32px] xl:text-[38px] font-[700]"
            >The Products</span
          >
        </h2>

        <h3
          class="text-[#1E3B8A] text-[26px] sm:text-[35px] lg:text-[40px] xl:text-[48px] xl:pr-6 font-[700] leading-[1.1] mb-7 xl:w-[95%]"
        >
          Emdad products offer essential support to construction industry
          stakeholders, enabling authentication, data-driven decisions, and
          seamless integration within the ecosystem.
        </h3>
        <button
          class="text-[#FFFFFF] bg-[#1E3B8A] py-[8px] font-[600] text-[17px] sm:text-[18px] w-full md:w-max sm:px-14 rounded-md"
        >
          Learn more about our products
        </button>
      </div>

      <div class="w-[95%] lg:w-[50%] rounded-lg border border-[#c7cee2] p-5">
        <h3
          class="text-[#1E3B8A] px-3 py-2 text-[21px] sm:text-[24px] font-[700] mb-4 bg-[#f5fbfe] rounded-[8px_8px_0_0] text-center"
        >
          EMDAD Products
        </h3>
        <div class="bg-[#1E3B8A] p-4 rounded-lg mb-4">
          <h3 class="flex items-start sm:items-center gap-2 sm:gap-3 mb-3">
            <div
              class="w-7 h-7 sm:w-10 sm:h-10 rounded-full text-[#1E3B8A] bg-[#fff] flex items-center justify-center text-[15px] lg:text-[18px] font-[700]"
            >
              1
            </div>
            <span
              class="text-[#fff] text-[18px] lg:text-[18px] font-[700] leading-[1.1] mb-1"
              >Financial Data Analytics</span
            >
          </h3>
          <ul class="list-[upper-alpha] ps-6 sm:ps-8 marker:text-[#fff]">
            <li class="text-white text-[15px] sm:text-[16px] mb-3">
              How you see your company
            </li>
            <li class="text-white text-[15px] sm:text-[16px] mb-3">
              How your clients and suppliers see you
            </li>
            <li class="text-white text-[15px] sm:text-[16px] mb-3">
              Access via consent your clients & vendors general information and
              financial metrics to make an evidence based decision
            </li>
            <li class="text-white text-[15px] sm:text-[16px] mb-3">
              AI powered decisioning assistant
            </li>
            <li class="text-white text-[15px] sm:text-[16px] mb-3">
              Comparison between vendors from a financial point of view on who
              could be the best to deliver
            </li>
          </ul>
        </div>
        <div class="bg-[#1E3B8A] p-4 rounded-lg mb-5">
          <h3 class="flex items-start sm:items-center gap-2 sm:gap-3 mb-3">
            <div
              class="w-7 h-7 sm:w-10 sm:h-10 rounded-full text-[#1E3B8A] bg-[#fff] flex items-center justify-center text-[15px] lg:text-[18px] font-[700]"
            >
              2
            </div>
            <span
              class="text-[#fff] text-[18px] lg:text-[18px] font-[700] leading-[1.1] mb-1"
              >Credit Application System</span
            >
          </h3>
          <ul class="list-[upper-alpha] ps-6 sm:ps-8 marker:text-[#fff]">
            <li class="text-white text-[15px] sm:text-[16px] mb-3">
              Manage as a client or a supplier your credit applications in one
              page
            </li>
            <li class="text-white text-[15px] sm:text-[16px] mb-3">
              AI powered decisioning assistant
            </li>
            <li class="text-white text-[15px] sm:text-[16px] mb-3">
              Helps you as a client to be empowered to see your suppliers
              capabilities via consent to see their financials metrics to make
              better decisions.
            </li>
            <li class="text-white text-[15px] sm:text-[16px] mb-3">
              Helps you as a supplier to gain access to your clients via consent
              access to key insights to see their financial metrics to make
              better decisions for credit amount and credit days granted.
            </li>
          </ul>
        </div>
        <div class="bg-[#1E3B8A] p-4 rounded-lg mb-5">
          <h3
            class="flex flex-col justify-start items-start sm:flex-row sm:items-center sm:justify-between gap-2 sm:gap-3"
          >
            <div
              class="flex items-start sm:items-center justify-between gap-2 sm:gap-3"
            >
              <div
                class="w-7 h-7 sm:w-10 sm:h-10 rounded-full text-[#1E3B8A] bg-[#fff] flex items-center justify-center text-[15px] lg:text-[18px] font-[700]"
              >
                3
              </div>
              <span
                class="text-[#fff] text-[18px] lg:text-[18px] font-[700] leading-[1.1] mb-0 sm:mb-1"
                >Eco and Non-Eco System Integration</span
              >
            </div>
            <p class="text-white text-[16px] mb-0 pl-8 sm:pl-0">(Soon)</p>
          </h3>
        </div>
        <div class="bg-[#1E3B8A] p-4 rounded-lg mb-5">
          <h3
            class="flex flex-col justify-start items-start sm:flex-row sm:items-center sm:justify-between gap-2 sm:gap-3"
          >
            <div
              class="flex items-start sm:items-center justify-between gap-2 sm:gap-3"
            >
              <div
                class="w-7 h-7 sm:w-10 sm:h-10 rounded-full text-[#1E3B8A] bg-[#fff] flex items-center justify-center text-[15px] lg:text-[18px] font-[700]"
              >
                4
              </div>
              <span
                class="text-[#fff] text-[18px] lg:text-[18px] font-[700] leading-[1.1] mb-0 sm:mb-1"
                >Reports and Trends</span
              >
            </div>
            <p class="text-white text-[16px] mb-0 pl-8 sm:pl-0">(Soon)</p>
          </h3>
        </div>
        <div class="bg-[#1E3B8A] p-4 rounded-lg">
          <h3 class="flex items-start sm:items-center gap-2 sm:gap-3 mb-3">
            <div
              class="w-7 h-7 sm:w-10 sm:h-10 rounded-full text-[#1E3B8A] bg-[#fff] flex items-center justify-center text-[15px] lg:text-[18px] font-[700]"
            >
              5
            </div>
            <span
              class="text-[#fff] text-[18px] lg:text-[18px] font-[700] leading-[1.1] mb-1"
              >Build-Ability (Large Enterprises only)</span
            >
          </h3>
          <p class="text-white text-[15px] sm:text-[16px] pl-3 mb-2">
            More than data—we walk you through the real risk, face to face.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="h-6"></div>
